.header {
  padding: 3rem 0;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.header::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  border-bottom: 0.1rem solid var(--color-input-border);
  top: 0;
  z-index: -1;
  background-color: var(--color-grey);
}

.navigation {
  transition: var(--transition-timing);
}

.navigation__list {
  display: flex;
  gap: 3rem;
}

.navigation__link {
  transition: var(--transition-timing);
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  font-weight: var(--font-weight-medium);
}

.navigation__link:hover,
.navigation__link:active {
  text-decoration: underline;
  color: var(--color-text);
  transform: scale(1.2);
}
.container:has(#bio:target) .navigation__bio,
.container:has(#skills:target) .navigation__skills,
.container:has(#media:target) .navigation__media,
.container:has(#projects:target) .navigation__projects,
.container:has(#clients:target) .navigation__clients,
.container:has(#contact:target) .navigation__contact {
  color: var(--target-section-color);
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
  transform: scale(1.5);
}

.burger--menu__checkbox {
  display: none;
}
